<div class="container">
  <div id="title">
    <h1><span>Update Book</span></h1>
  </div>
  <div id="form">
    <form (submit)="onUpdateBookSubmit()">
      <div class="left-section">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Book Name</mat-label>
          <input matInput autocomplete="off" placeholder="Book Name" [formControl]="bookNameFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="bookNameFormControl.hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Author</mat-label>
          <input matInput autocomplete="off" placeholder="Author" [formControl]="authorFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="authorFormControl.hasError('required')">
            Author name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Pages</mat-label>
          <input matInput autocomplete="off" placeholder="Index Number" [formControl]="pagesFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="pagesFormControl.hasError('pattern')">
            <strong>Only numbers</strong> are allowed
          </mat-error>
          <mat-error *ngIf="pagesFormControl.hasError('required')">
            Number of pages is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Edition</mat-label>
          <input matInput autocomplete="off" placeholder="Edition" [formControl]="editionFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="editionFormControl.hasError('required')">
            Edition is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="editionFormControl.hasError('pattern')">
            <strong>Only numbers</strong> are allowed
          </mat-error>
        </mat-form-field>
      </div>
      <div class="right-section">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Publisher</mat-label>
          <input matInput autocomplete="off" placeholder="Publisher" [formControl]="publisherFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="publisherFormControl.hasError('required')">
            Publisher is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Published Year</mat-label>
          <input matInput autocomplete="off" maxlength="4" placeholder="Published Year" [formControl]="yearFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="yearFormControl.hasError('required')">
            Published year is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="yearFormControl.hasError('minlength') || yearFormControl.hasError('pattern')">
            Invalid Year Format
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Image Url</mat-label>
          <input matInput autocomplete="off" placeholder="Image Url" [formControl]="imageUrlFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="imageUrlFormControl.hasError('required')">
            Image Url is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Number of Copies</mat-label>
          <input autocomplete="off" matInput placeholder="Number of Copies" [formControl]="copiesFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="copiesFormControl.hasError('required')">
            Number of copies is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="copiesFormControl.hasError('pattern')">
            <strong>Only numbers</strong> are allowed
          </mat-error>
        </mat-form-field>
      </div>
      <button class="full-width" id="register-btn" mat-raised-button color="primary">Update The Book</button>
    </form>
  </div>
</div>
