.container{
  margin-top: 100px;
  width: 70%;
  margin-left: calc((100vw - 70%)/2);
  font-family: 'Raleway', sans-serif;
}

.content{
  margin-top: 20px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


table {
  overflow: auto;
}


td, th {
  overflow: hidden;
  word-wrap: break-word;
}

.mat-footer-cell{
  z-index: 1 !important;
}
