<div class="container">
  <mat-tab-group>
    <mat-tab label="Add Book">
      <div class="content-add-book">
        <div id="form">
          <form (submit)="onAddBookSubmit()">
            <div class="left-section">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Book Name</mat-label>
                <input matInput autocomplete="off" placeholder="Book Name" [formControl]="bookNameFormControl"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="bookNameFormControl.hasError('required')">
                  First name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Author</mat-label>
                <input matInput autocomplete="off" placeholder="Author" [formControl]="authorFormControl"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="authorFormControl.hasError('required')">
                  Author name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Pages</mat-label>
                <input matInput autocomplete="off" placeholder="Index Number" [formControl]="pagesFormControl"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="pagesFormControl.hasError('pattern')">
                  <strong>Only numbers</strong> are allowed
                </mat-error>
                <mat-error *ngIf="pagesFormControl.hasError('required')">
                  Number of pages is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Edition</mat-label>
                <input matInput autocomplete="off" placeholder="Edition" [formControl]="editionFormControl"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="editionFormControl.hasError('required')">
                  Edition is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="editionFormControl.hasError('pattern')">
                  <strong>Only numbers</strong> are allowed
                </mat-error>
              </mat-form-field>
            </div>
            <div class="right-section">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Publisher</mat-label>
                <input matInput autocomplete="off" placeholder="Publisher" [formControl]="publisherFormControl"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="publisherFormControl.hasError('required')">
                  Publisher is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Published Year</mat-label>
                <input matInput autocomplete="off" maxlength="4" placeholder="Published Year" [formControl]="yearFormControl"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="yearFormControl.hasError('required')">
                  Published year is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="yearFormControl.hasError('minlength') || yearFormControl.hasError('pattern')">
                  Invalid Year Format
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Image Url</mat-label>
                <input matInput autocomplete="off" placeholder="Image Url" [formControl]="imageUrlFormControl"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="imageUrlFormControl.hasError('required')">
                  Image Url is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Number of Copies</mat-label>
                <input autocomplete="off" matInput placeholder="Number of Copies" [formControl]="copiesFormControl"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="copiesFormControl.hasError('required')">
                  Number of copies is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="copiesFormControl.hasError('pattern')">
                  <strong>Only numbers</strong> are allowed
                </mat-error>
              </mat-form-field>
            </div>
            <button class="full-width" id="register-btn" mat-raised-button color="primary">Add The Book</button>
          </form>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="All Books">
      <div class="content">
        <mat-form-field>
          <input matInput autocomplete="off" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="Book Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Name </th>
              <td mat-cell *matCellDef="let row"> {{row.bookName}} </td>
            </ng-container>

            <ng-container matColumnDef="Author">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
              <td mat-cell *matCellDef="let row"> {{row.author}} </td>
            </ng-container>

            <ng-container matColumnDef="Publisher">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Publisher </th>
              <td mat-cell *matCellDef="let row"> {{row.publisher}} </td>
            </ng-container>

            <ng-container matColumnDef="Copies">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Copies </th>
              <td mat-cell *matCellDef="let row"> {{row.copies}} </td>
            </ng-container>

            <ng-container matColumnDef="Update Book">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Update </th>
              <td mat-cell *matCellDef="let row">  <button mat-raised-button color="accent" (click)="updateBook(row.id, row.bookName)">Update</button> </td>
            </ng-container>

            <ng-container matColumnDef="Delete Book">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
              <td mat-cell *matCellDef="let row">  <button mat-raised-button color="warn" (click)="deleteBook(row.id,row.bookName, row.arrayIndex)">Delete</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
